body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    background: white;
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left ;
}

.input-group label {
    font-weight: bold;
    display: block ;
    padding: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px 4px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    max-width: 390px; 
    margin: 0 auto;   
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

.reset-button {
    background: #dc3545;
}

.reset-button:hover {
    background: #c82333;
}

/* Kotak hasil BMI */
.result-box {
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    background: #e9ecef;
}

/* Warna hasil BMI */
.underweight {
    color: #ff9800;
}

.normal {
    color: #4caf50;
}

.overweight {
    color: #ff5722;
}

.obese {
    color: #d32f2f;
}

/* Responsif */
@media (max-width: 500px) {
    .container {
        width: 95%;
    }
}
